This notebook is used to extractor the necessary data for Salary Prediction from 2011 Stack Overflow Annual Developer Survey 

https://insights.stackoverflow.com/survey

In [2]:
import pandas as pd
import numpy as np

NOTE: Make sure **Data/source/** folder has the survey data downloaded using **Scripts/download_survey_data.py --all** script

# 2011 Stack Overflow User Survey

In [6]:
survey_res = pd.read_csv("../../Data/source/2011.csv", sep=",", encoding='Latin-1')

In [7]:
print(f"Number of responses to the survey in 2011: {survey_res.shape[0]-1}")

Number of responses to the survey in 2011: 2813

In [8]:
survey_res = survey_res.drop(0)
survey_res.head()

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What is your involvement in purchasing? You can choose more than 1.,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,"In the last 12 months, how much money have you spent on personal technology-related purchases?",Which of our sites do you frequent most?
1,Africa,NaN,< 20,<2,Consulting,Start Up (1-25),Web Application Developer,Not in a million years,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<$100,NaN
2,Other Europe,NaN,25-29,41310,Software Products,Mature Small Business (25-100),Server Programmer,It's been known to happen,NaN,NaN,...,NaN,NaN,Other netbook,NaN,NaN,NaN,NaN,NaN,$251-$500,Stack Overflow
3,India,NaN,25-29,41435,Software Products,Mid Sized (100-999),Server Programmer,Unless it's stoopid it gets done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Germany,NaN,< 20,41310,Foundation / Non-Profit,Student,Student,It's been known to happen,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Wii,Other gaming system,NaN,"$501-$1,000",Stack Overflow
5,Other Asia,NaN,35-39,11,Software Products,Start Up (1-25),"Executive (VP of Eng, CTO, CIO, etc.)",I run this place,Influencer,NaN,...,NaN,NaN,NaN,NaN,Xbox,NaN,NaN,NaN,$251-$500,Stack Overflow

In [9]:
# Extract the Country 

survey_res_flt = pd.DataFrame()
survey_res_flt["country"] = survey_res["What Country or Region do you live in?"]

# Extract Age
survey_res_flt["age"] = survey_res["How old are you?"]

# Extract years of IT/programing experience
survey_res_flt["IT_experience_in_years"] = survey_res["How many years of IT/Programming experience do you have?"]

# Extract industry 
survey_res_flt["industry"] = survey_res["How would you best describe the industry you work in?"]

# Extract company size 
survey_res_flt["company_size"] = survey_res["Which best describes the size of your company?"]

# Extract occupation 
survey_res_flt["occupation"] = survey_res["Which of the following best describes your occupation?"]

# Extract Current project details
survey_res_flt["current_development_project"] = survey_res["What type of project are you developing?"]

In [10]:
# Extract programming language 

language_col_start = survey_res.columns.get_loc("Which languages are you proficient in?")

survey_res_flt["proficient_languages"] = (
    survey_res
    .iloc[:, language_col_start+1:language_col_start+13]
    .apply(lambda x: ",".join(x.astype(str)), axis = 1)
)

survey_res_flt["proficient_languages"] = [[pl for pl in pl_list.split(',') if pl != 'nan'] for pl_list in survey_res_flt['proficient_languages'].values.tolist()]

In [11]:
# Extract the desktop operating system used 
survey_res_flt["desktop_OS"] = survey_res["What operating system do you use the most?"]

# Extract job satisfaction 
survey_res_flt["job_satisfaction"] = survey_res["Please rate your job/career satisfaction"]

# Extract compensation
survey_res_flt["compensation"] = survey_res["Including bonus, what is your annual compensation in USD?"]

In [12]:
# Extract Product technology
product_tech_col_start = survey_res.columns.get_loc("Which technology products do you own? (You can choose more than one)")

survey_res_flt["product_technology"] = (
    survey_res
    .iloc[:, product_tech_col_start+1:product_tech_col_start+20]
    .apply(lambda x: ",".join(x.astype(str)), axis = 1)
)

survey_res_flt["product_technology"] = [[pt for pt in pt_list.split(',') if pt != 'nan'] for pt_list in survey_res_flt['product_technology'].values.tolist()]

In [13]:
survey_res_flt.head()

,country,age,IT_experience_in_years,industry,company_size,occupation,current_development_project,proficient_languages,desktop_OS,job_satisfaction,compensation,product_technology
1,Africa,< 20,<2,Consulting,Start Up (1-25),Web Application Developer,Mobile,[JavaScript],Linux,FML,Student / Unemployed,[<$100]
2,Other Europe,25-29,41310,Software Products,Mature Small Business (25-100),Server Programmer,Enterprise,"[SQL, C]",Windows 7,So happy it hurts,NaN,"[Other netbook, $251-$500, Stack Overflow]"
3,India,25-29,41435,Software Products,Mid Sized (100-999),Server Programmer,SaaS,"[JavaScript, SQL]",Linux,NaN,NaN,[]
4,Germany,< 20,41310,Foundation / Non-Profit,Student,Student,Other,[Haskell],Linux,I enjoy going to work,Student / Unemployed,"[Regular Mobile Phone, Kindle, Wii, Other gami..."
5,Other Asia,35-39,11,Software Products,Start Up (1-25),"Executive (VP of Eng, CTO, CIO, etc.)",Enterprise,"[JavaScript, CSS, PHP, SQL, C++, C, Perl]",Linux,It pays the bills,"$80,000 - $100,000","[Android, Regular Mobile Phone, Kindle, Xbox, ..."

In [14]:
survey_res_flt.to_csv("../../Data/filtered/2011.csv", index=False)